.idea/*
cmake-*
BUILD
mbed_settings.pyc
.temp
Debug
.cproject
.project
wolfSSL/
msgpack/
mbed_settings.py
mergehex
nrfjprog
shields
.hg
mbed-os*
.mbed
testmem.csv
testresult.xml
ubirch_ble_tool.egg-info
re-ubirch-tol-files
build
dist

.pyc